# **Import Libraries**

In [1]:
# Data Manipulation
import pandas as pd
import numpy as np

# Model Saving
import pickle
import json

# Warnings 
import warnings
warnings.filterwarnings('ignore')

# **Model Inference**

In [2]:
with open('model_svc.pkl', 'rb') as file:
  model = pickle.load(file)

In [8]:
# Membuat data baru untuk dilakukan prediksi
data = {
    'time': [1102, 1435],
    'trt': [0, 0],
    'age': [39, 70],
    'wtkg': [85, 88],
    'hemo': [1, 0],
    'drugs': [1, 0],
    'karnof': [93, 20],
    'oprior': [1, 1],
    'z30': [1, 1],
    'preanti': [1363, 800],
    'race': [0, 1],
    'gender': [1, 1],
    'str2': [1, 0],
    'strat': [0, 0],
    'symptom': [1, 1],
    'treat': [0, 0],
    'offtrt': [0, 0],
    'cd40': [774, 942],
    'cd420': [854, 370],
    'cd820': [997, 530]
    }

In [9]:
# Membuat dataframe dari dataset baru
df_inf = pd.DataFrame(data)
df_inf

,time,trt,age,wtkg,hemo,drugs,karnof,oprior,z30,preanti,race,gender,str2,strat,symptom,treat,offtrt,cd40,cd420,cd820
0,1102,0,39,85,1,1,93,1,1,1363,0,1,1,0,1,0,0,774,854,997
1,1435,0,70,88,0,0,20,1,1,800,1,1,0,0,1,0,0,942,370,530

# **Predict**

In [10]:
# Prediksi menggunakan model
y_pred_inf = model.predict(df_inf)

# Konversi hasil prediksi menjadi DataFrame dengan label
labels = ['Not Infected', 'Infected']
y_pred_inf_labels = [labels[pred] for pred in y_pred_inf]

# Membuat DataFrame untuk hasil prediksi
df_result = pd.DataFrame({
    'Predicted ': y_pred_inf,
    'Predicted Label': y_pred_inf_labels
})

# Tampilkan hasil
df_result

   Predicted  Predicted Label
0           1        Infected
1           0    Not Infected

**Insight :**

Berdasarkan hasil inferensi menggunakan model yang telah disimpan sebelumnya, pasien 1 terprediksi terinfeksi HIV (1), sedangkan pasien 2 terprediksi tidak terinfeksi HIV (0)